extends layout.pug

mixin input(name, content, type)
    label(for=name)=content
    if user
        input(type=type, name=name, value=user[name]).form-control
    else
        input(type=type, name=name).form-control

block content
    if errors
        ul
            p The following errors were found:
            each error in errors
                li=error

    form(method= "post" action="/create").form-group
        input(type="hidden" name="_csrf" value=csrfToken)

        +input("firstName", "First Name:", "text")
        +input("lastName", "Last Name:", "text")
        +input("email", "Email:", "email")
        +input("password", "Password:", "password")
        +input("confirmedPassword", "Confirmed Password:", "password")

        input(type="submit", value="Create User").btn.btn-primary.mt-2
